version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '01:00'
      timezone: 'Europe/London'
    versioning-strategy: 'increase'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    open-pull-requests-limit: 20