name: CI

on:
  push:
    branches: [main]
    paths:
      - "skills/**/rules/**"
      - "packages/validate-rules/**"
  pull_request:
    branches: [main]
    paths:
      - "skills/**/rules/**"
      - "packages/validate-rules/**"

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'
          check-latest: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Validate rules
        run: pnpm validate

  automerge:
    name: Automerge Dependabot PRs
    if: >
        always() &&
        needs.ci.result == 'success' &&
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.repository &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs: [ci]
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@1b2ed42db8f9d81a46bac83adedfc03eb5149dff # v3.11.2
        with:
          target: major